nav{
    position: absolute;
    z-index: 9;
    width: 100%;


}

.wrapper {
    background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;;
    background-repeat: no-repeat;
    height: 850px;
    position: relative;


}

a   {
    font-weight: bold;
    font-size: 1.3em;

}
h2{
    color: darksalmon;
}
p{
    color: darksalmon;
}

input{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin-top: 15px;
}
::placeholder{
    color: black;
    font-style: italic;
}