nav{
    position: absolute;
    z-index: 9;
    width: 100%;

}


.wrapper {
    background-image: url("https://images3.alphacoders.com/899/899393.jpg");
    background-size: cover;;
    background-repeat: no-repeat;
    height: 850px;
    position: relative;


}

a   {
    font-weight: bold;
    font-size: 1.3em;

}
h2{
    color: darksalmon;
    font-family: 'Quicksand', sans-serif;
}
p{
    color: darksalmon;
    font-family: 'Quicksand', sans-serif;
}

input{
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 50%;
    margin-top: 15px;
}
::placeholder{
    color: white;
    font-family: 'Quicksand', sans-serif;
}